
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

h2 {
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
}

main {
    width: 800px;
    margin: 0 auto;
}

span {
    color: hsl(1, 99%, 76%);
    font-weight: bold;
}